html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  background-color: #26272c;
}

/* for the pick activity */
.wallpaper {
  display: block;
  width: 20rem;
  height: 30rem;
  border: solid white 0.3rem;
  border-radius: 0.5rem;
  margin-left: 6rem;
  margin-top: 1.5rem;
}

/* for the share activity */
#preview {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

#buttons {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  height: 5rem;
}

#buttons > #set-wallpaper {
  position: absolute;
  left: 50%;
  width: 50%;
  height: 100%;
}

#buttons > #cancel {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
}
