* { -moz-box-sizing: border-box; }

html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 10px;
}

body {
  background-color: black;
  color: #fff;
  font-family: "MozTT", sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding-bottom: 5rem;
}

#open-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/* like .frame in gallery.css */
#open-frame {
  position: absolute;
  top: 5rem;
  left: 0;
  width: 100%;
  bottom: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  -moz-user-select: none;
}

#open-frame > img {
  top: 0;  /* javascript modifies this position with a transform */
  left: 0;
  position: absolute;
  border-width: 0;
  padding: 0;
  margin: 0;
  transform-origin: 0 0;
  pointer-events: none;
  -moz-user-select: none;
}


/*
#open-toolbar {
  background: rgba(128,128,128,0.5);
  height: 5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
*/

footer {
  background: rgba(0, 0, 0, 0.75);
  height: 4rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  box-shadow: 0 -0.20rem 0.50rem rgba(50, 50, 50, 0.75);
}

#open-camera-button {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  background-image: url('images/iconaction_camera_30x30.png');
}

#open-delete-button {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 50%;
  background-image: url('images/iconaction_delete_30x30.png');
}

/* buttons */
a.button {
  display: block;
  padding: 0;
  margin: 0;
  border-width: 0;
  background-position: center center;
  background-repeat: no-repeat;
}

a.button:active, a.button:focus {
  outline: none;
}
