body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: MozTT, sans-serif;
  font-weight: normal;
  font-size: 10px;
  background: url("images/background.png") no-repeat 0 -2rem / 100% auto;
}

.row {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  display: block;
}

input {
  -moz-appearance: none;
  padding: 0;
  margin: 0;
  border: 0;

  background: transparent;
  background-repeat: no-repeat;
  background-position: 0.4rem 0;

  color: white;
  font-family: MozTT, sans-serif;
  font-weight: 500;
  font-size: 2.06rem;

  width: 8rem;
  height: 6rem;
  line-height: 6rem;

  /* For an easier touch target, buttons are not exactly centered and
     are bigger at the bottom */
  padding-bottom: 1rem;

  /* text nodes in the source code affect the layout */
  margin-right: -0.5rem;
}

input.small {
  display: inline;
}

input::-moz-focus-inner {
  padding: 0;
  margin: 0;
  border: 0
}

input:active {
  background-image: url("images/button-active.png");
}

input.small:active {
  background-image: url("images/button-active-small.png");
}

input[disabled] {
  pointer-events: none;
}

input:not(.small) {
  right: 0.8rem;
  bottom: 24.1rem;
  width: 15.6rem;
}

/* Result Display */
#display {
  color: white;

  margin-left: 0.8rem;
  margin-top: 0.8rem;
  margin-bottom: 1rem;

  width: calc(100% - 1.6rem);
  height: 14.2rem;
  line-height: 14.2rem;
}

#display b {
  transform-origin: right center;
  position: absolute;
  right: 1.6rem;

  line-height: 14.2rem;
  font-family: MozTT, sans-serif;
  font-weight: 300;
  font-size: 8.25rem;
}

#display.error {
  background: none repeat scroll 0 0 rgba(255, 0, 0, 0.3);
}

