#helper-header {
    position: absolute;
    left: 0;
    top: 3.9rem;
    right: 0;
}
.empty-query:not(.keyboard-visible) #helper-header {
    display: none;
}

#search-title {
    position: absolute;
    top: 0;
    left: 0.6rem;
    right: 0.6rem;
    color: #fff;
    z-index: 50;
    height: 3.8rem;
    line-height: 3.8rem;
    font-size: 1.6rem;
    font-weight: 600;
    text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 1), 0 0.1rem 0.1rem #000;
    cursor: pointer;
    overflow: hidden;
    visibility: visible;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}
    #search-title b {
        font-weight: inherit;
    }
#search-title.close {
    display: none;
}
    #search-title .query {
        position: relative;
        margin-left: 0.5rem;
        color: #b4dae7;
        text-transform: lowercase;
    }
        #search-title .type {
            color: #b4dae7;
            font-style: normal;
            font-weight: normal;
            margin-left: 0.5rem;
        }
        #search-title.notype .type {
            display: none;
        }
    #search-title.notype {
        padding-right: 2.6rem;
    }

#helper-rapper {
    position: absolute;
    background: #fff;
    top: 0.4rem;
    left: 0.6rem;
    right: 0.6rem;
    height: 2.8rem;
    line-height: 2.5rem;
    color: #000;
    font-size: 1.5rem;
    overflow: hidden;
    border-radius: 0.2rem;
    border: 0.1rem solid #1f1f1f;
    z-index: 55;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

#helper-rapper.animate:not(.anim-disabled) {
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
#helper-rapper.close {
    -moz-transform: scale(0, 0);
    transform: scale(0, 0);
    right: 1.2rem;
    display: none;
}
    #helper-rapper.close ul {
        display: none;
    }

    #helper-tip {
        position: absolute;
        left: 2.2rem;
        bottom: 0.1rem;
        overflow: visible;
        z-index: 300;
        display: none;
        -moz-transform: scale(.7, 1);
        transform: scale(.7, 1);
        -moz-transition: all .2s ease;
        transition: all .2s ease;
    }
    #helper-tip b {
        position: absolute;
        top: 0;
        left: 0;
        height: 1.3rem;
        width: 1.3rem;
        background: #fff;
        border-left: 0.1rem solid #000;
        border-top: 0.1rem solid #000;
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
        box-shadow: -0.4rem -0.4rem 0.4rem -0.2rem rgba(0, 0, 0, .4);
    }


#helper-rapper.flash {
    -moz-animation: flash 4s linear 1 alternate;
}
#helper-tip.flash b {
    -moz-animation: flash 4s linear 1 alternate;
}
@-moz-keyframes flash {
    0% { background: #fff; }
    2% { background: #ffe57f; }
    50% { background: #ffe57f; }
    100% { background: #fff; }
}

#helper {
    height: 100%;
}
#helper.empty {
}
#helper.animate {
    -moz-transition: -moz-transform .4s ease;
    transition: transform .4s ease;
}

    #helper ul {
        position: absolute;
        top: -0.3rem !important;
        width: 200rem;
        height: 100%;
        padding-bottom: 0.3rem;
        padding-top: 0.3rem;
        overflow: hidden;
        text-transform: lowercase;
    }
    #helper ul.start {
        -moz-transform: translate(32rem, 0) !important;
        transform: translate(32rem, 0) !important;
    }
    #helper-rapper:not(.anim-disabled) #helper ul.anim {
        -moz-transition: all .4s linear !important;
        transition: all .4s linear !important;
    }
        #helper ul li {
            position: relative;
            display: inline-block;
            vertical-align: top;
            padding: 0 1rem 0.6rem 1rem;
            cursor: pointer;
            white-space: nowrap;
        }
        #helper ul li b {
            font-weight: 600;
        }
        #helper ul li:after {
            content: "";
            position: absolute;
            top: 1.2rem;
            left: -0.3rem;
            width: 0.4rem;
            height: 0.4rem;
            background: #000;
            border-radius: 0.2rem;
        }
        #helper ul li:first-child {
            font-weight: 600;
            color: #0485af;
        }
        #helper ul li:first-child b {
            font-weight: 600;
        }
        #helper ul li:nth-child(1):after {
            display: none;
        }
        #helper.default ul li:first-child {
            font-weight: inherit;
            color: inherit;
        }
        #helper ul.default li, #helper ul.history li {
            font-weight: 600;
        }
        #helper ul li.label {
            color: #888;
            font-style: italic;
            font-weight: normal;
            padding-right: 0;
            cursor: default;
            text-transform: none;
        }
        #helper ul.text li.label {
            font-style: normal;
            color: #aaaaaa;
        }
        #helper ul li.text {
            color: #000;
            cursor: default;
            text-transform: none;
        }
        #helper ul.didyoumean li.label {
            color: #f00;
        }
        #helper ul li.label + li {
            padding-left: 0.5rem;
        }
        #helper ul li.label + li:after {
            display: none;
            padding-left: 0;
        }
        #helper ul li.link {
            color: #0485af !important;
            font-weight: normal;
            cursor: pointer;
            text-transform: none;
        }
        #helper ul li.link.disabled {
            color: #999 !important;
        }
        #helper ul li.link.strong {
            font-weight: 600 !important;
        }
